doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Learning Management System
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
  link(rel='stylesheet' href='deletecourse.css')
  style.
    /* both deletecour and dashbord */
    body{
    margin-top: 100px;
    }
    table {
    width:100%;
    }
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    th, td {
    padding: 15px;
    text-align: left;
    }
    #t01 tr:nth-child(even) {
    background-color: #eee;
    }
    #t01 tr:nth-child(odd) {
    background-color: #fff;
    }
    #t01 th {
    background-color: black;
    color: white;
    }
    .im img{
    width: 50px;
    height: 50px;
    }
    /* deletecourse */
    .del button{
    color: whitesmoke;
    background-color: red;
    }
    * {box-sizing: border-box}
    body{
    margin-top: 100px;
    }
    /* Set a style for all buttons */
    button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    }
    button:hover {
    opacity:10;
    }
    /* left menu */
    /* The side navigation menu */
    .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    /* The navigation menu links */
    .sidenav a {
    padding: 8px 8px 50px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
    color: #f1f1f1;
    }
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
    .but{
      padding: 20px;
    }
    .kira,.mira {
      margin-right: 50px;
    }
    .mora{
      margin-left: -20px;
    }
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
    transition: margin-left .5s;
    padding: 20px;
    }
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }
    .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    }
    .navbar a {
    float: right;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    }
#main
  .navbar
    a.active(href='#')  ENLIGHTENMENT     
  div
    #mySidenav.sidenav
      a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
      a(href='/users/login') DASHBORD
      a(href='/addingcourse/createnewcourse') CREATE A NEW COURSE
      a(href='/viewcourse/viewcourse') MY COURSES
      //- a(href='/updatecourse/updatecourse') UPDATE COURSE
      a(href='/changepassemail/changepassemail') EDIT USER

    // Use any element to open the sidenav
    span(onclick='openNav()')
      button
        h1  CLICK TO OPEN MENU BAR
    // Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page
  h2(style='margin-top: 20px;') MY COURSES
  table(style='margin-top: 40px;')
    table#t01
      tr
        th #
        th photo
        th Course Name 
        th Category 
        th Duration 
        th View
      each product in products  
        tr
          td 1
          td  #{product.myfile} #{img} #{product._id}
          td  #{product.categoryname}
          td  #{product.liner}
          td  #{product.hours}
          td.but
            a(class="kira" href="/viewcourse/update?id="+product._id class="btn btn-success") UPDATE
            a(class="mira" href="/inside/inside" class="btn btn-info") VIEW
            a(class="mora" href="/viewcourse/delete?id="+product._id class="btn btn-danger" style="float: right") DELETE
script.
  /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
  function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
  }
  /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
  function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
  document.body.style.backgroundColor = "white";
  }
